.navbar-light 
.navbar-nav .active>.nav-link, .navbar-light .navbar-nav
 .nav-link.active, .navbar-light .navbar-nav .nav-link.show, 
 .navbar-light .navbar-nav .show>.nav-link {
    color: black;
    
}


#main .carousel-inner img{
	height: 90vh;
	object-fit: cover;	
}

.navbar .container 

#carousel.overlay.container,
#carousel.overlay .container{
    height: 100%;
}
#carousel{
    position: relative;
}
#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    z-index:1;
}

/*--CARACTERISTICA--*/
#caracteristica {
    color:black;
    background: #E6E6E6;
}
#caracteristica .container{
    background: #E6E6E6;
} 
#caracteristica h2{
	padding: 5px;
}
#caracteristica .card{
	background: none;
	border:none;
	text-align: center;
	vertical-align: middle;

}
#caracteristica img {
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	width: 50%;
	width: 50px;
	height: 50px;
}
   

/*CONTACTENOS*/
#contacto{
    background:#e8eaed ;
}

#contacto .container ,
#contacto .overlay .container {
    height: 100%;
}

#contacto .container-fluid{
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
}

#contacto .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    z-index:1;
}
#contacto img{
	height: 100vh;
	object-fit: cover;	
}
#contacto .form-control{
    background: transparent;
    border-top: white;
    border-right: white;
    border-left: white;
    border-radius: 0px;
    color: white;
}
#contacto .form-control .placeholder{
    color : white;
}

/*--FOOTER--
footer {
	background: #282c2f;
}

footer .row{
	color: #fff ;
	font-size: 16px ;

	padding: 30px 0;	
}
.social-icon {
    display: flex;
		
}
.social-icon [class*="icon-"] {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
	background: #e8eaed;
	border-radius: 50%;  
}

*/
#floating-btn {
    
    position: fixed;
    /* Footer height */
    bottom: 50px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
    width:60px;
    height:60px;
    margin-right:16px;
    margin-bottom:16px;
    right:0px;
    bottom:0px;
}


/*MEDIA*/
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: 1rem;
    }
    }